{% include calculate_relative_base.html %}
{% include escape-404.html %}

<!-- Favicon links -->
<link rel="icon" href="{{ relativebase }}assets/img/favicon/favicon.ico" sizes="128x128" type="image/x-icon">
<link rel="icon" href="{{ relativebase }}assets/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="{{ relativebase }}assets/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="{{ relativebase }}assets/img/favicon/favicon-57x57.png" sizes="57x57">
<link rel="apple-touch-icon" href="{{ relativebase }}assets/img/favicon/favicon-72x72.png" sizes="72x72">
<link rel="apple-touch-icon" href="{{ relativebase }}assets/img/favicon/favicon-114x114.png" sizes="114x114">
<link rel="apple-touch-icon" href="{{ relativebase }}assets/img/favicon/favicon-120x120.png" sizes="120x120">
